/test-result/
node_modules/
/.vscode/
.DS_Store
.tmp/

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
/test-data/credentials.ts
/test-data/users.ts